services:
  plex:
    image: plexinc/pms-docker:latest
    container_name: plex
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - ADVERTISE_IP=${PLEX_ADVERTISE_IP}
    volumes:
      - ${STORAGE_LOCATION}/plex-config:/config
      - ${MEDIA_LOCATION}/Plex:/Plex
      - ${STORAGE_LOCATION}/plex-transcode:/transcode
    ports:
      - 32400:32400/tcp
      #- 1900:1900/udp #Access to Plex DLNA Server
      #- 5353:5353/udp #older Bonjour/Avahi network discovery
      - 32410:32410/udp #GDM Plex Network Discovery
      - 32412:32412/udp #GDM Plex Network Discovery
      - 32413:32413/udp #GDM Plex Network Discovery
      - 32414:32414/udp #GDM Plex Network Discovery
      - 32469:32469/tcp #Access to Plex DLNA Server
    networks:
      - frontend-net
    #network_mode: "service:gluetun"
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    restart: unless-stopped
    labels:
      # --- Traefik Routing ---
      - "traefik.enable=true"
      - "traefik.http.routers.plex.rule=Host(`plex.skyelowry.com`)"
      - "traefik.http.routers.plex.entrypoints=websecure" # Use 443
      - "traefik.http.routers.plex.tls=true"
      - "traefik.http.routers.plex.tls.certresolver=cloudflare" 
      - "traefik.http.services.plex.loadbalancer.server.port=32400"
      # --- Homepage Discovery ---
      - "homepage.group=App"
      - "homepage.name=plex"
      - "homepage.icon=plex.png"
      - "homepage.href=https://plex.skyelowry.com"
      - "homepage.description=plex"


  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${STORAGE_LOCATION}/sonarr-config:/config
      - ${MEDIA_LOCATION}/deluge-downloads:/downloads
      - ${MEDIA_LOCATION}/Plex:/Plex
    networks:
      - frontend-net
    #ports:
      #- 8989:8989
    restart: 'unless-stopped'
    labels:
      # --- Traefik Routing ---
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.skyelowry.com`)"
      - "traefik.http.routers.sonarr.entrypoints=websecure" # Use 443
      - "traefik.http.routers.sonarr.tls=true"
      - "traefik.http.routers.sonarr.tls.certresolver=cloudflare" 
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      # --- Homepage Discovery ---
      - "homepage.group=App"
      - "homepage.name=sonarr"
      - "homepage.icon=sonarr.png"
      - "homepage.href=https://sonarr.skyelowry.com"
      - "homepage.description=sonarr"


  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${STORAGE_LOCATION}/radarr-config:/config
      - ${MEDIA_LOCATION}/deluge-downloads:/downloads
      - ${MEDIA_LOCATION}/Plex:/Plex
    #ports:
      #- 7878:7878
    networks:
      - frontend-net
    restart: 'unless-stopped'
    labels:
      # --- Traefik Routing ---
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.skyelowry.com`)"
      - "traefik.http.routers.radarr.entrypoints=websecure" # Use 443
      - "traefik.http.routers.radarr.tls=true"
      - "traefik.http.routers.radarr.tls.certresolver=cloudflare" 
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      # --- Homepage Discovery ---
      - "homepage.group=App"
      - "homepage.name=radarr"
      - "homepage.icon=radarr.png"
      - "homepage.href=https://radarr.skyelowry.com"
      - "homepage.description=radarr"

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${STORAGE_LOCATION}/prowlarr-config:/config
    #ports:
      #- 9696:9696
    networks:
      - frontend-net
    restart: 'unless-stopped'
    labels:
      # --- Traefik Routing ---
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.skyelowry.com`)"
      - "traefik.http.routers.prowlarr.entrypoints=websecure" # Use 443
      - "traefik.http.routers.prowlarr.tls=true"
      - "traefik.http.routers.prowlarr.tls.certresolver=cloudflare" 
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      # --- Homepage Discovery ---
      - "homepage.group=App"
      - "homepage.name=prowlarr"
      - "homepage.icon=prowlarr.png"
      - "homepage.href=https://prowlarr.skyelowry.com"
      - "homepage.description=prowlarr"


  nginx:
    image: nginx:latest
    container_name: nginx
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${STORAGE_LOCATION}/nginx-config:/etc/nginx
    networks:
      - frontend-net
    restart: 'unless-stopped'

  qbittorrent:
    image: qbittorrentofficial/qbittorrent-nox:latest
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - QBT_LEGAL_NOTICE=
      - QBT_TORRENTING_PORT=34524
      - QBT_WEBUI_PORT=8082
    volumes:
      - ${STORAGE_LOCATION}/qbittorrent-config:/config
      - ${MEDIA_LOCATION}/deluge-downloads:/downloads
    tmpfs:
      - /tmp
    network_mode: "service:gluetun"
    restart: unless-stopped
    labels:
      # --- Homepage Discovery ---
      - "homepage.group=App"
      - "homepage.name=qbittorrent"
      - "homepage.icon=qbittorrent.png"
      - "homepage.href=https://qbittorrent.skyelowry.com"
      - "homepage.description=qbittorrent"


  overseerr:
    image: sctx/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${STORAGE_LOCATION}/overseerr-config:/app/config
    networks:
      - frontend-net
    restart: 'unless-stopped'
    labels:
      # --- Traefik Routing ---
      - "traefik.enable=true"
      - "traefik.http.routers.overseerr.rule=Host(`overseerr.skyelowry.com`)"
      - "traefik.http.routers.overseerr.entrypoints=websecure" # Use 443
      - "traefik.http.routers.overseerr.tls=true"
      - "traefik.http.routers.overseerr.tls.certresolver=cloudflare" 
      - "traefik.http.services.overseerr.loadbalancer.server.port=5055"
      # --- Homepage Discovery ---
      - "homepage.group=App"
      - "homepage.name=overseerr"
      - "homepage.icon=overseerr.png"
      - "homepage.href=https://overseerr.skyelowry.com"
      - "homepage.description=overseerr"


  tautulli:
    image: ghcr.io/tautulli/tautulli
    container_name: tautulli
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${STORAGE_LOCATION}/tautulli-config:/config
    #ports:
      #- 8181:8181
    networks:
      - frontend-net
    restart: 'unless-stopped'
    labels:
      # --- Traefik Routing ---
      - "traefik.enable=true"
      - "traefik.http.routers.tautulli.rule=Host(`tautulli.skyelowry.com`)"
      - "traefik.http.routers.tautulli.entrypoints=websecure" # Use 443
      - "traefik.http.routers.tautulli.tls=true"
      - "traefik.http.routers.tautulli.tls.certresolver=cloudflare" 
      - "traefik.http.services.tautulli.loadbalancer.server.port=8181"
      # --- Homepage Discovery ---
      - "homepage.group=App"
      - "homepage.name=tautulli"
      - "homepage.icon=tautulli.png"
      - "homepage.href=https://tautulli.skyelowry.com"
      - "homepage.description=tautulli"

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    #ports:
    #  - 8096:8096
    network_mode: "service:gluetun"
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    volumes:
      - ${STORAGE_LOCATION}/jellyfin-config:/config
      - ${STORAGE_LOCATION}/jellyfin-cache:/cache
      - ${MEDIA_LOCATION}/Plex:/media
    restart: 'unless-stopped'
    labels:
      # --- Homepage Discovery ---
      - "homepage.group=App"
      - "homepage.name=jellyfin"
      - "homepage.icon=jellyfin.png"
      - "homepage.href=https://jellyfin.skyelowry.com"
      - "homepage.description=jellyfin"


  jellyplexwatched:
    image: luigi311/jellyplex-watched:latest
    container_name: jellyplexwatched
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      DRYRUN: False
      PLEX_BASEURL: ${PLEX_ADVERTISE_IP}
      PLEX_TOKEN: ${WATCHED_PLEX_TOKEN}
      JELLYFIN_BASEURL: ${WATCHED_JELLYFIN_BASEURL}
      JELLYFIN_TOKEN: ${WATCHED_JELLYFIN_TOKEN}
      USER_MAPPING: ${WATCHED_USER_MAPPING}
      LIBRARY_MAPPING: ${WATCHED_LIBRARY_MAPPING}
      SYNC_FROM_PLEX_TO_JELLYFIN: ${WATCHED_SYNC_FROM_PLEX_TO_JELLYFIN}
      SYNC_FROM_PLEX_TO_PLEX: ${WATCHED_SYNC_FROM_PLEX_TO_PLEX}
      SYNC_FROM_JELLYFIN_TO_PLEX: ${WATCHED_SYNC_FROM_JELLYFIN_TO_PLEX}
      SYNC_FROM_JELLYFIN_TO_JELLYFIN: ${WATCHED_SYNC_FROM_JELLYFIN_TO_JELLYFIN}
    networks:
      - frontend-net
    restart: 'unless-stopped'
    depends_on:
      plex:
        condition: service_healthy
      jellyfin:
        condition: service_healthy


  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    privileged: true
    ports:
      - 34524:34524/tcp
      - 8096:8096/tcp #Jellyfin External and Internal
      - 8082:8082/tcp #qbittorrent
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      - FIREWALL_VPN_INPUT_PORTS=${FIREWALL_VPN_INPUT_PORTS}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${STORAGE_LOCATION}/gluetun-config/wg0.conf:/gluetun/wireguard/wg0.conf       # store credentials & state
    networks:
      - frontend-net
    restart: 'unless-stopped'
    labels:
      # --- Traefik Routing ---
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.skyelowry.com`)"
      - "traefik.http.routers.jellyfin.entrypoints=websecure" # Use 443
      - "traefik.http.routers.jellyfin.tls=true"
      - "traefik.http.routers.jellyfin.tls.certresolver=cloudflare" 
      - "traefik.http.services.jellyfin.loadBalancer.servers.url: "http://traefik.skyelowry.home:8096"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
        # --- Traefik Routing ---
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.skyelowry.com`)"
      - "traefik.http.routers.qbittorrent.entrypoints=websecure" # Use 443
      - "traefik.http.routers.qbittorrent.tls=true"
      - "traefik.http.routers.qbittorrent.tls.certresolver=cloudflare" 
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8082"



networks:
  app-media-net:
    name: app-media-net
  frontend-net:
    external: true
