services:
  neo4j:
    image: neo4j:latest
    container_name: neo4j
    volumes:
        - ${STORAGE_LOCATION}/neo4j/logs:/logs
        - ${STORAGE_LOCATION}/neo4j/config:/config
        - ${STORAGE_LOCATION}/neo4j/data:/data
        - ${STORAGE_LOCATION}/neo4j/plugins:/plugins
        - ${STORAGE_LOCATION}/neo4j/import:/import
    environment:
        - NEO4J_AUTH=${NEO4J_AUTH}
    ports:
      - 192.168.2.11:7474:7474
      - 192.168.2.11:7687:7687
    restart: always
    networks:
      - frontend-net
    labels:
      # --- Traefik Routing ---
      - "traefik.enable=true"
      - "traefik.http.routers.neo4j.rule=Host(`neo4j.skyelowry.com`)"
      - "traefik.http.routers.neo4j.entrypoints=websecure" # Use 443
      - "traefik.http.routers.neo4j.tls=true"
      - "traefik.http.routers.neo4j.tls.certresolver=cloudflare" 
      - "traefik.http.services.neo4j.loadbalancer.server.port=7474"
      # --- Homepage Discovery ---
      - "homepage.group=App"
      - "homepage.name=Neo4j"
      - "homepage.icon=neo4j.png"
      - "homepage.href=https://neo4j.skyelowry.com"
      - "homepage.description=Neo4j Graph DB"


  influxdb2:
    container_name: influxdb
    image: influxdb:2
    restart: unless-stopped
    ports:
      - 192.168.2.11:8086:8086
    volumes:
      - ${STORAGE_LOCATION}/influxdb2-data:/var/lib/influxdb2
      - ${STORAGE_LOCATION}/influxdb2-config:/etc/influxdb2
    networks:
      - frontend-net
      # --- Traefik Routing ---
      - "traefik.enable=true"
      - "traefik.http.routers.influxdb.rule=Host(`influxdb.skyelowry.com`)"
      - "traefik.http.routers.influxdb.entrypoints=websecure" # Use 443
      - "traefik.http.routers.influxdb.tls=true"
      - "traefik.http.routers.influxdb.tls.certresolver=cloudflare" 
      - "traefik.http.services.influxdb.loadbalancer.server.port=8086"
      # --- Homepage Discovery ---
      - "homepage.group=App"
      - "homepage.name=Influx DB"
      - "homepage.icon=influxdb.png"
      - "homepage.href=https://influxdb.skyelowry.com"
      - "homepage.description=influxdb2"

networks:
  frontend-net:
    external: true
