services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    restart: unless-stopped
    environment:
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
      - WEBUI_SECRET_KEY=${WEBUI_SECRET_KEY}
    volumes:
      - /mnt/Containers/stack-ai/open-webui-data:/app/backend/data
    networks:
      - app-ai-net

networks:
  app-ai-net:
    name: "app-ai-net"
